<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        <h2>Types</h2>
        <ol>
          <li *ngFor="let type of types">
            <button class="btn btn-dark mt-3" (click)="filterByType(type)">
              <b> {{ type.label }} </b>
            </button>
          </li>
        </ol>
      </div>
      <div class="col-sm-2">
        <h2>Description</h2>
        <p>
          <span
            ><strong>
              {{ this.selectedType.label }}
            </strong></span
          >: {{ this.selectedType?.description }}
        </p>
      </div>
      <div class="col-sm-2">
        <h2>Operators</h2>
        <ol>
          <li *ngFor="let operator of operators">
            <button
              class="btn btn-dark mt-3"
              (click)="performOperator(operator)"
            >
              <b> {{ operator.label }} </b>
            </button>
          </li>
        </ol>
      </div>
      <div class="col-sm-6" *ngIf="selectedOperator">
        <div>
          operator: <b>{{ selectedOperator?.label }}</b>
        </div>
        <div>
          type:
          <b>
            {{ selectedOperator?.type }}
          </b>
        </div>
        <div>
          description:
          <b>
            {{ selectedOperator?.description }}
          </b>
        </div>
        <div *ngIf="this.data">
          data:
          <ngx-json-viewer
            [json]="this.data"
            [expanded]="false"
          ></ngx-json-viewer>
        </div>
        <div *ngIf="this.selectedOperator?.function">
          code:
          <pre>
            <code [highlight]="this.selectedOperator?.function.toString()" [lineNumbers]="true" ></code>
          </pre>
        </div>
        <div *ngIf="this.result">
          result:
          <ngx-json-viewer
            [json]="this.result"
            [expanded]="false"
          ></ngx-json-viewer>
        </div>
      </div>
    </div>
  </div>
</section>
