<div class="mt-3 ml-3">
  <h1>rxjs operators</h1>
  <p>
    This is an app example to understand how rxjs operators work. You can start
    navigating types and operators to see some explanations and code snippets.
    For more information you can take a look at these links.
  </p>
  <ul>
    <li><a href="https://www.learnrxjs.io/" target="_blank">learn rxjs</a></li>
    <li>
      <a href="https://rxjs-dev.firebaseapp.com/" target="_blank"
        >rxjs official documentation</a
      >
    </li>
  </ul>
  <app-rxjs-operators></app-rxjs-operators>
</div>
